<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	
    <!-- ログイン画面 -->
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>jp.ascendia.Taschel.LoginServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>Login</url-pattern>
	</servlet-mapping>
		
    <!-- ログアウト処理 -->
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>jp.ascendia.Taschel.LogoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>Logout</url-pattern>
	</servlet-mapping>
	
    <!-- タスク一覧画面 -->
	<servlet>
		<servlet-name>TaskListServlet</servlet-name>
		<servlet-class>jp.ascendia.Taschel.TaskListServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TaskListServlet</servlet-name>
		<url-pattern>TaskList</url-pattern>
	</servlet-mapping>
	
    <!-- タスク新規作成画面 -->
    <servlet>
        <servlet-name>PrepareCreateTaskServlet</servlet-name>
        <servlet-class>jp.ascendia.Taschel.PrepareCreateTaskServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>PrepareCreateTaskServlet</servlet-name>
        <url-pattern>PrepareCreateTask</url-pattern>
    </servlet-mapping>
    
	<servlet>
		<servlet-name>CreateTaskServlet</servlet-name>
		<servlet-class>jp.ascendia.Taschel.CreateTaskServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CreateTaskServlet</servlet-name>
		<url-pattern>CreateTask</url-pattern>
	</servlet-mapping>
	
    <!-- リソース参照 -->
	<resource-ref>
		<description>My DataSource Reference</description>
		<res-ref-name>jdbc/mysql</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
</web-app>